@font-face {
    font-family: 'police_1';
    src: url('../police/Heaters.otf');
}
*{
    box-sizing: border-box;
}
:root{
    --PrimaryColor : #1573FE;
    
}

/****************************image animation************* */
.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 
/**************************** Scroll-bar************* */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--PrimaryColor); 
    border-radius: 10px;
  }
  

.btn.btn-outline-primary{
    visibility: hidden;
}
.card-container::before{
    content: "";
    position: absolute;
    left: 0;
    height: 85vh;
    width: 100%;
    z-index: -1;
    background: url('../image/fond.jpg') center/cover;
    filter: blur(10px) opacity(100%);
}
.card-container-img{
    border: 3px solid var(--PrimaryColor);
    border-radius: 100%;
}
.card-container .card , .card.text-center.mt-4 , .titre {
    background: none !important;
    border: none !important;
}
.card-container .card-title {
    margin-top: 16%;
    font-size: 30px;
}
.card-container .card-title span {
    font-family: 'police_1';
    font-size:60px;
    color: var(--PrimaryColor);
}
.icon-color{
    color: var(--PrimaryColor);
}

.card-services{
    border: 1px solid var(--PrimaryColor) !important;
    border-radius: 50px !important;
    box-shadow: 40px 100px 68px 67px rgba(1,1,1,0.1);
}
.card-services:hover{
    cursor:progress;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
.form-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: var(--PrimaryColor) !important;
  }
  
  .form-signin textarea{
    height: 100px !important;
    resize: none;
    border-color: var(--PrimaryColor) !important;
  }
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media screen and (max-width :990px) {

    .btn.btn-outline-primary{
        visibility: inherit;
    } 
}

@media screen and (max-width :1149px) {

    .card-services{
        width: 100%;
    } 
}

